.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.video-player-container {
  max-width: 800px;
  margin: 0 auto;

 
}

/* Style the video player itself */
.react-player {
  margin: 0 auto;
  border-radius: 90px;
  
}

/* Style the video player controls */
.react-player__controls {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

/* Style the play/pause button */
.react-player__play-pause {
  color: #fff;
  font-size: 24px;
}

/* Style the progress bar */
.react-player__progress {
  background-color: #ccc;
}

/* Style the played progress bar */
.react-player__played-bar {
  background-color: #007bff;
}